.flex-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  padding-top: 2rem;
}

#board {
  margin: 0 auto;
}

.margin-div {
  margin: 0 auto;
  text-align: center;
}

li {
  list-style-type: none;
}

.chat-box {
  height: 150px;
  overflow-y: scroll;
  margin-bottom: 1rem;
  text-align: left;
  border: solid 2px black;
  padding-right: 1rem;
}